body{
    padding-top: 50px!important;
}
body .layui-form-label{
    width: 110px;
}
body .layui-table  th,td{
    text-align: center;
    font-weight: 400;
}
.forms {
    padding-top: 20px;
}
.layui-form-item{
    margin-bottom: 0px !important;
}
body .pull-left{
    margin-left: 15px;
}