body #layui-layer1 .layui-layer-content {
    overflow: visible;
}
body{
    min-height: 600px;
    padding-top: 50px;
}
.layui-form-selectup dl {
    top: 42px;
    bottom: unset;
}
.toleft{
    margin-left: 20px!important;
}
.row{
    margin-top: 5px;
}
.layui-form-item{
    margin-bottom: 0px;
}
body .layui-table  th,td{
    text-align: center;
    font-weight: 400;
}