*{
    text-decoration: none;
}
body {
    overflow-y: hidden;
}

a:hover {
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}

.menu,.layui-body{
    margin-top: 60px;
}

.layui-logo img {
    height: 50px;
    margin: 0px;
    padding: 0px;
}

/*主体内ifram框架*/
.ifm {
    border: none;
    width: 100%;
    overflow: hidden;
}