body {
    overflow-y: hidden;
}

a{
    text-decoration: none !important;
}
.pointer a:hover{
    cursor: pointer !important;
}

.layui-this,.layui-this a {
    background: white !important;
    color: rgb(56, 62, 73) !important;
}

.menu, .layui-body {
    margin-top: 60px;
}

.layui-logo img {
    height: 50px;
    margin: 0px;
    padding: 0px;
}

/*主体内ifram框架*/
.ifm {
    border: none;
    width: 100%;
    overflow: hidden;
}